

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: #ffffff;
}



#clock {
    padding: 0 8px;
    background: #000000;
    border-radius: 50px;

    margin: 0 10px 10px 10px;
}

#custom-start {
    padding: 0 8px;
    background: #000000;
    border-radius: 50px;

    margin: 0 10px 10px 10px;
}

#custom-end {
    padding: 0 8px;
    background: #000000;
    border-radius: 50px;

    margin: 0 10px 10px 10px;
}
