

#window {
    background: rgba(69, 88, 133, 0.8);
    border-radius: 50px;
}

#input {
    border-radius: 50px;
}

#entry {
    border-radius: 50px;
}

#inner-box {
    border-radius: 50px;
}

#scroll {
    border-radius: 50px;
}

#outer-box {
    border-radius: 50px;
}

#entry:selected {
    border-radius: 50px;
}

#text {
    border-radius: 50px;
}
